name: Test Packer Build for VMs on macOS Runners

on:
  pull_request:
    paths:
      - "build/packer/windows/*"
      - "build/packer/windows/**/*"
      - "scripts/macos/*"
      - "scripts/macos/**/*"
      - ".github/workflows/test-packer-build-win11-on-macos.yml"

jobs:
  test-packer-build:
    name: Packer build ${{ matrix.vm_os }} on ${{ matrix.runner_os }} arch ${{ matrix.arch }}
    runs-on: ${{ matrix.runner_os }}
    strategy:
      matrix:
        include:
          # - runner_os: macos-15
          #   vm_os: windows11
          #   arch: amd64
          # - runner_os: macos-15
          #   vm_os: windows11
          #   arch: arm64
          - runner_os: macos-15
            vm_os: ubuntu
            arch: amd64
            go_test_name: TestBuildQemuUbuntuServerArm64OnMacos
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          bash scripts/macos/dev-alchemy-install-dependencies.sh

      - name: Run Ubuntu Packer build for OS=${{ matrix.vm_os }} TEST_NAME=${{ matrix.go_test_name }}
        if: matrix.vm_os == 'ubuntu'
        continue-on-error: false
        env:
          PACKER_LOG: 1
        run: |
          make test-build-specific TEST_NAME=${{ matrix.go_test_name }}

      - name: Run Windows11 Packer build
        if: matrix.vm_os == 'windows11'
        id: packer_build
        continue-on-error: true
        run: |
          bash build/packer/windows/windows11-on-macos.sh --headless --arch ${{ matrix.arch }} --verbose

      - name: Upload packer-qemu-windows11-${{ matrix.arch }}.vnc.mp4 artifact (always)
        if: matrix.vm_os == 'windows11'
        uses: actions/upload-artifact@v4
        with:
          name: packer-qemu-windows11-${{ matrix.arch }}.vnc.mp4
          path: ./build/packer/windows/.build_tmp/windows11-${{ matrix.arch }}-on-macos-output/packer-qemu-windows11-${{ matrix.arch }}.vnc.mp4
          retention-days: 1

      - name: Fail if Packer build failed
        if: steps.packer_build.outcome == 'failure'
        run: |
          echo "Packer build failed. Failing workflow."
          exit 1
