name: Test Packer Build for VMs

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "build/packer/windows/*"
      - "build/packer/windows/**/*"
      - "scripts/macos/*"
      - "scripts/macos/**/*"
      - ".github/workflows/test-packer-build-win11-on-macos.yml"

jobs:
  provision-windows-runner:
    runs-on: ubuntu-latest
    outputs:
      runner-label: ${{ steps.vars.outputs.runner-label }}
      resource-group: ${{ steps.vars.outputs.resource-group }}
    permissions:
      contents: read
      actions: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate names
        id: vars
        run: |
          echo "runner-label=azure-win-${GITHUB_RUN_ID}" >> $GITHUB_OUTPUT
          echo "resource-group=github-win-${GITHUB_RUN_ID}" >> $GITHUB_OUTPUT

      - name: Azure login
        uses: azure/login@v2
        with:
          # create a service principal and store the JSON output in the AZURE_CREDENTIALS secret
          # az ad sp create-for-rbac --name "Github Actions Runner" --role contributor --scopes /subscriptions/{subscription-id} --sdk-auth
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Create resource group
        run: |
          az group create \
            --name ${{ steps.vars.outputs.resource-group }} \
            --location eastus

      - name: Create Windows VM
        run: |
          # get gh runner registration token
          TOKEN=$(curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ github.repository }}/actions/runners/registration-token | jq -r .token)
          echo "$env:TOKEN=$TOKEN" > gh-runner.txt.tmp
          echo "$env:REPO_URL=https://github.com/${{ github.repository }}"  >> gh-runner.txt.tmp
          cat gh-runner.txt.tmp scripts/gh_actions/cloud-init.ps1 > scripts/gh_actions/cloud-init-combined.ps1
          echo "Content of combined cloud-init script:"
          cat scripts/gh_actions/cloud-init-combined.ps1

          # create vm with cloud-init script to install gh runner and register it

          machine_type="Standard_D2s_v3" # needs to support nested virtualization
          az vm create \
            --resource-group ${{ steps.vars.outputs.resource-group }} \
            --name win-runner \
            --image ${{ secrets.AZURE_VM_IMAGE }} \
            --size $machine_type \
            --admin-username azureuser \
            --admin-password "${{ secrets.AZURE_VM_PASSWORD }}" \
            --custom-data scripts/gh_actions/cloud-init-combined.ps1

  test-packer-build:
    name: build ${{ matrix.go_test_name }} VM_OS ${{ matrix.vm_os }} runner_os ${{ matrix.runner_os }}
    runs-on: ${{ matrix.runner_os == 'macos-15' && 'macos-15' || matrix.runner_os == 'windows-2025' && 'self-hosted,windows,azure,nested' }}
    strategy:
      matrix:
        include:
          # - runner_os: macos-15
          #   vm_os: windows11
          #   go_test_name: TestBuildQemuWindows11Arm64OnMacos
          # - runner_os: macos-15
          #   vm_os: windows11
          #   go_test_name: TestBuildQemuWindows11Amd64OnMacos
          # - runner_os: macos-15
          #   vm_os: ubuntu
          #   go_test_name: TestBuildQemuUbuntuServerArm64OnMacos
          # - runner_os: macos-15
          #   vm_os: ubuntu
          #   go_test_name: TestBuildQemuUbuntuServerAmd64OnMacos
          # - runner_os: macos-15
          #   vm_os: ubuntu
          #   go_test_name: TestBuildQemuUbuntuDesktopArm64OnMacos
          # - runner_os: macos-15
          #   vm_os: ubuntu
          #   go_test_name: TestBuildQemuUbuntuDesktopAmd64OnMacos
          - runner_os: windows-2025
            vm_os: windows11
            go_test_name: TestBuildHypervWindows11Amd64OnWindows
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies macos
        if: matrix.runner_os == 'macos-15'
        run: |
          bash scripts/macos/dev-alchemy-install-dependencies.sh

      - name: Install dependencies windows
        if: matrix.runner_os == 'windows-2025'
        shell: powershell
        run: |
          powershell -File scripts/windows/install_oscdimg.ps1
          $oscdimgPath = Get-ChildItem -Path "C:\Program Files (x86)\Windows Kits" -Recurse -Filter oscdimg.exe -ErrorAction SilentlyContinue | Select-Object -First 1
          echo "$oscdimgPath" # Optional: debug output
          echo "$($oscdimgPath | Split-Path)" | Out-File -Append $env:GITHUB_PATH

      - name: Run build for OS=${{ matrix.vm_os }} TEST_NAME=${{ matrix.go_test_name }}
        id: packer_build
        continue-on-error: false
        env:
          PACKER_LOG: 1
        run: |
          make test-build-specific TEST_NAME=${{ matrix.go_test_name }}

      - name: Move .vnc.mp4 files to artifact directory
        if: matrix.runner_os == 'macos-15'
        run: |
          mkdir -p artifact
          find ./cache -name '*.vnc.mp4' -exec cp {} artifact/ \;

      - name: Upload packer-qemu-${{ matrix.vm_os }}-${{ matrix.go_test_name }}.vnc.mp4 artifact (always)
        if: matrix.runner_os == 'macos-15'
        uses: actions/upload-artifact@v4
        with:
          name: packer-qemu-${{ matrix.vm_os }}-${{ matrix.go_test_name }}.vnc.mp4
          path: artifact/*.vnc.mp4
          retention-days: 1

      - name: Fail if Packer build failed
        if: steps.packer_build.outcome == 'failure'
        run: |
          echo "Packer build failed. Failing workflow."
          exit 1

  cleanup:
    needs: [provision-windows-runner, test-packer-build]
    if: always()
    runs-on: ubuntu-latest

    steps:
      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Delete resource group
        run: |
          az group delete \
            --name ${{ needs.provision-windows-runner.outputs.resource-group }} \
            --yes --no-wait