name: Test Packer Build for VMs

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "build/packer/windows/*"
      - "build/packer/windows/**/*"
      - "scripts/macos/*"
      - "scripts/macos/**/*"
      - ".github/workflows/test-packer-build-win11-on-macos.yml"

jobs:
  provision-windows-runner:
    runs-on: ubuntu-latest
    outputs:
      runner-label: ${{ steps.vars.outputs.runner-label }}
      resource-group: ${{ steps.vars.outputs.resource-group }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate names
        id: vars
        run: |
          echo "runner-label=azure-win-${GITHUB_RUN_ID}" >> $GITHUB_OUTPUT
          echo "resource-group=github-win-${GITHUB_RUN_ID}" >> $GITHUB_OUTPUT

      - name: Create Windows VM
        run: |
          # placeholder for actual VM creation commands
          echo "placeholder for creating Windows VM"
          echo "Creating Windows VM in resource group ${{ steps.vars.outputs.resource-group }} with runner label ${{ steps.vars.outputs.runner-label }}"

  test-packer-build:
    name: build ${{ matrix.go_test_name }} VM_OS ${{ matrix.vm_os }} runner_os ${{ matrix.runner_os }}
    needs: [provision-windows-runner]
    runs-on: ${{ matrix.runs_on }}
    strategy:
      matrix:
        include:
          # - runner_os: macos-15
          #   vm_os: windows11
          #   go_test_name: TestBuildQemuWindows11Arm64OnMacos
          # - runner_os: macos-15
          #   vm_os: windows11
          #   go_test_name: TestBuildQemuWindows11Amd64OnMacos
          # - runner_os: macos-15
          #   vm_os: ubuntu
          #   go_test_name: TestBuildQemuUbuntuServerArm64OnMacos
          # - runner_os: macos-15
          #   vm_os: ubuntu
          #   go_test_name: TestBuildQemuUbuntuServerAmd64OnMacos
          # - runner_os: macos-15
          #   vm_os: ubuntu
          #   go_test_name: TestBuildQemuUbuntuDesktopArm64OnMacos
          # - runner_os: macos-15
          #   vm_os: ubuntu
          #   go_test_name: TestBuildQemuUbuntuDesktopAmd64OnMacos
          - runner_os: windows-2025
            vm_os: windows11
            go_test_name: TestBuildHypervWindows11Amd64OnWindows
            runs_on:
            - self-hosted
            - Windows
            - azure
            - nested
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies macos
        if: matrix.runner_os == 'macos-15'
        run: |
          bash scripts/macos/dev-alchemy-install-dependencies.sh

      - name: Install dependencies windows
        if: matrix.runner_os == 'windows-2025'
        shell: powershell
        run: |
          powershell -File scripts/windows/install_oscdimg.ps1
          $oscdimgPath = Get-ChildItem -Path "C:\Program Files (x86)\Windows Kits" -Recurse -Filter oscdimg.exe -ErrorAction SilentlyContinue | Select-Object -First 1
          echo "$oscdimgPath" # Optional: debug output
          echo "$($oscdimgPath | Split-Path)" | Out-File -Append $env:GITHUB_PATH

      - name: Run build for OS=${{ matrix.vm_os }} TEST_NAME=${{ matrix.go_test_name }}
        id: packer_build
        continue-on-error: false
        env:
          PACKER_LOG: 1
        run: |
          make test-build-specific TEST_NAME=${{ matrix.go_test_name }}

      - name: Move .vnc.mp4 files to artifact directory
        if: matrix.runner_os == 'macos-15'
        run: |
          mkdir -p artifact
          find ./cache -name '*.vnc.mp4' -exec cp {} artifact/ \;

      - name: Upload packer-qemu-${{ matrix.vm_os }}-${{ matrix.go_test_name }}.vnc.mp4 artifact (always)
        if: matrix.runner_os == 'macos-15'
        uses: actions/upload-artifact@v4
        with:
          name: packer-qemu-${{ matrix.vm_os }}-${{ matrix.go_test_name }}.vnc.mp4
          path: artifact/*.vnc.mp4
          retention-days: 1

      - name: Fail if Packer build failed
        if: steps.packer_build.outcome == 'failure'
        run: |
          echo "Packer build failed. Failing workflow."
          exit 1

  cleanup:
    needs: [provision-windows-runner, test-packer-build]
    if: always()
    runs-on: ubuntu-latest

    steps:
      - name: Delete resource group
        run: |
          # placeholder for actual resource group deletion commands
          echo "placeholder for deleting resource group"
          echo "Deleting resource group ${{ needs.provision-windows-runner.outputs.resource-group }}"