name: Test Packer Build for VMs on macOS Runners

on:
  pull_request:
    paths:
      - "build/packer/windows/*"
      - "build/packer/windows/**/*"
      - "scripts/macos/*"
      - "scripts/macos/**/*"
      - ".github/workflows/test-packer-build-win11-on-macos.yml"

jobs:
  test-packer-build:
    name: build ${{ matrix.go_test_name }} VM_OS ${{ matrix.vm_os }} runner_os ${{ matrix.runner_os }}
    runs-on: ${{ matrix.runner_os }}
    strategy:
      matrix:
        include:
          - runner_os: macos-15
            vm_os: windows11
            go_test_name: TestBuildQemuWindows11Arm64OnMacos
          - runner_os: macos-15
            vm_os: windows11
            go_test_name: TestBuildQemuWindows11Amd64OnMacos
          - runner_os: macos-15
            vm_os: ubuntu
            go_test_name: TestBuildQemuUbuntuServerArm64OnMacos
          - runner_os: macos-15
            vm_os: ubuntu
            go_test_name: TestBuildQemuUbuntuServerAmd64OnMacos
          - runner_os: macos-15
            vm_os: ubuntu
            go_test_name: TestBuildQemuUbuntuDesktopArm64OnMacos
          - runner_os: macos-15
            vm_os: ubuntu
            go_test_name: TestBuildQemuUbuntuDesktopAmd64OnMacos
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          bash scripts/macos/dev-alchemy-install-dependencies.sh

      - name: Run build for OS=${{ matrix.vm_os }} TEST_NAME=${{ matrix.go_test_name }}
        id: packer_build
        continue-on-error: false
        env:
          PACKER_LOG: 1
        run: |
          make test-build-specific TEST_NAME=${{ matrix.go_test_name }}

      - name: Move .vnc.mp4 files to artifact directory
        run: |
          mkdir -p artifact
          find ./cache -name '*.vnc.mp4' -exec cp {} artifact/ \;

      - name: Upload packer-qemu-${{ matrix.vm_os }}-${{ matrix.go_test_name }}.vnc.mp4 artifact (always)
        uses: actions/upload-artifact@v4
        with:
          name: packer-qemu-${{ matrix.vm_os }}-${{ matrix.go_test_name }}.vnc.mp4
          path: artifact/*.vnc.mp4
          retention-days: 1

      - name: Fail if Packer build failed
        if: steps.packer_build.outcome == 'failure'
        run: |
          echo "Packer build failed. Failing workflow."
          exit 1
